#hello1 {
  color: aquamarine;
  font-size: 24px;
}

#hello12 {
  color: aqua;
  font-size: 24px;
}

#hello13 {
  color: cornflowerblue;
  font-size: 24px;
}

#hello14 {
  color: darkturquoise;
  font-size: 24px;
}

#hello15 {
  color: blue;
  font-size: 24px;
}
